@model TrackTeam.Models.ViewModels.AthleteDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details for @Model.athlete.AthleteName</h2>
<ul>
    <li><a href="/Athlete/Index">Back to List</a></li>
    <li><a href="/Athlete/Update/@Model.athlete.AthleteID">Update</a></li>
    <li><a href="/Athlete/DeleteConfirm/@Model.athlete.AthleteID">Delete</a></li>
</ul>

<div class="athlete_card">
    <div class="athlete">
        <div>Name:@Model.athlete.AthleteName</div>
        <div>Age:@Model.athlete.AthleteAge</div>
        <div>Gender:@Model.athlete.AthleteGender</div>
    </div>

    <div class="coach_staff">
        <span>Coaching Staff</span>
        @{
            foreach (var coaches in @Model.coaches)
            {
                <div>
                    <a href="/Coach/Details/@coaches.CoachID">@coaches.CoachName</a>
                </div>
            }
        }

    </div>
    <div class="discipline_group">
        <span>Disciplines</span>
        @{
            foreach (var disciplines in @Model.disciplines)
            {
                <div>@disciplines.DisciplineName </div>
            }
        }

    </div>
</div>